
.move-card-modal{
    p{
        font-size:1.1rem !important;
    }
    select{
        border:none;
        width:150px;
        height:30px;
        font-size:14px;
        border-radius:3px;
        box-shadow: 1px 1px 1px rgb(160, 160, 160);
    }
}